.cardTemplate{
    background-color: rgb(255, 255, 255);
    width:300px;
    margin: 0.5rem;
    padding: 20px;
}

button{
    background-color: rgb(120, 118, 118);
    color: aliceblue;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.banner img{
    width: 40px;
    height: 40px;

}

.banner button{
    display: flex;
    justify-content: flex-end;

}

.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

input{
    border: 1px solid grey;
    padding:5px;
    border-radius: 5px;
}

.empImg img{
  
   width: 200px;
}

.cardHeader{
    display: flex;
    justify-content: space-between;
}



