.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    border: none;
    height: auto;
    bottom: 100px;
    width: 100%;
    margin-top: 200px;
     /* height: 100px;
    align-items: center;
    justify-content: center; */
}

